<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="- %m"/>
        </Console>
        <!-- File appender configuration -->
        <RollingFile name="Application"
                     fileName="logs/${project.artifactId}.log"
                     filePattern="logs/${project.artifactId}-$${date:MM-dd-yyyy}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m"/>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
        <Async name="FILE">
            <AppenderRef ref="Application"/>
        </Async>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
